[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]
watchdog = "*"

[packages]
flask-babel = "*"
flask-login = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
python-dotenv = "*"
flask-cors = "*"
flask = "*"
faker = "*"
babel = "*"

[requires]
python_version = "3.7"
